# Main Table

In [32]:
import pandas as pd
import time

In [22]:
fecha = time.strftime('%A %H:%M %d-%m-%Y)')

In [36]:
main_table_dict = {'id': [101, 102, 103, 104, 105, 106], 
                'producto': ['tomate ensalada', 'plátano canario', 'manzana royal', 'calabacín', 'zanahoria', 'patata blanca'], 
                'tienda': ['La Osa', 'La Osa', 'La Osa', 'La Osa', 'La Osa', 'La Osa'], 
                'precio': ['3.65', '1.90', '3.55', '0.95', '1.70', '1.65'], 
                'unidad': ['€/kg.', '€/kg.', '€/kg.', '€/kg.', '€/kg.', '€/kg.'],
                'fecha': [fecha, fecha, fecha, fecha, fecha, fecha]}

In [37]:
pd.DataFrame.from_dict(main_table_dict)

    id         producto  tienda precio unidad                     fecha
0  101  tomate ensalada  La Osa   3.65  €/kg.  Monday 09:51 07-06-2021)
1  102  plátano canario  La Osa   1.90  €/kg.  Monday 09:51 07-06-2021)
2  103    manzana royal  La Osa   3.55  €/kg.  Monday 09:51 07-06-2021)
3  104        calabacín  La Osa   0.95  €/kg.  Monday 09:51 07-06-2021)
4  105        zanahoria  La Osa   1.70  €/kg.  Monday 09:51 07-06-2021)
5  106    patata blanca  La Osa   1.65  €/kg.  Monday 09:51 07-06-2021)